<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Other meta tags and stylesheets -->
    <script src="https://cdn.tiny.cloud/1/gajuheuruiqplk071bg268yxvuipk6aj30mbrf5912k1ghax/tinymce/7/tinymce.min.js"
        referrerpolicy="origin"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet">


</head>

<body>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
             font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
        }

        html,
        body {
            height: 100%;
            width: 100%;
        }
    </style>
    <div class="container min-w-full     min-h-full px-6 text-white bg-[#020202]">
        <%-include("../partials/navbar.ejs") %>
            <a href="/blogs" class="text-md underline">All Blogs</a>
            <div class="formcontainer flex items-center justify-center     px-24 py-24">
                <form action="/blogs" method="POST"
                    class="rounded-md text-black  border-2 flex flex-col px-12 py-12 bg-white">
                    <div class="field flex flex-col py-8 ">
                        <label for="">Title</label>
                        <input class="px-4 py-2 rounded-md border-2  " type="text" name="blogs[title]"
                            placeholder="Give a title">
                    </div>
                    <div class="field flex flex-col py-8  ">
                        <label for="">Body</label>
                        <textarea id="blog-body" class="px-4 py-2 rounded-md border-2" name="blogs[body]"
                            placeholder="Write your blog content here"></textarea>

                    </div>

                    <button class="bg-blue-950 self-center px-8 py-2 rounded-md text-white">Create</button>
                </form>
            </div>

    </div>

    </div>
    <script>
        // Initialize TinyMCE
        tinymce.init({
                selector: '#body-editor',
                height: 400,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table paste code help wordcount'
                ],
                toolbar: 'undo redo | formatselect | bold italic backcolor | \
                alignleft aligncenter alignright alignjustify | \
                bullist numlist outdent indent | removeformat | help'
            });
    </script>
</body>

</html>