<div class="navbar -2 flex items-center justify-between py-4">
    <a href="/blogs"><div class="logo-nav font-bold text-2xl"><span class="text-yellow-600">Serene <br></span> Scribbles</div></a>

    <div class="navlinks flex space-x-4 font-medium px-6 -2">
        <% if (!currentUser || !currentUser._id) { %>
            <a href="/login" class="whitespace-nowrap">Log In</a>
            <a href="/register">Register</a>
            <% } else { %>
                <a href="/logout">Log Out</a>
                <% } %>
    </div>

</div>

<% if(success.length) {%>


    <div class="fixed inset-x-0 top-0 flex items-end justify-right px-4 py-6 justify-center">
        <div
            class="max-w-sm w-full shadow-lg rounded px-4 py-3 rounded relative bg-green-400 border-l-4 border-green-700 text-white">
            <div class="p-2">
                <div class="flex items-start">
                    <div class="ml-3 w-0 flex-1 pt-0.5">
                        <p class="text-sm leading-5 font-medium">
                            <%=success  %>
                        </p>
                    </div>
                    <div class="ml-4 flex-shrink-0 flex">
                        <button class="inline-flex text-white transition ease-in-out duration-150"
                            onclick="return this.parentNode.parentNode.parentNode.parentNode.remove()">
                            <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd"
                                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>