<div class="navbar -2 flex items-center justify-between py-4">
    <div class="logo-nav font-bold text-2xl"><span class="text-yellow-600">Serene</span> Scribbles</div>

    <div class="navlinks flex space-x-4 font-medium px-6 -2">
        <% if (!currentUser || !currentUser._id) { %>
            <a href="/login">Log In</a>
            <a href="/register">Register</a>
            <% } else { %>
                <a href="/logout">Log Out</a>
                <% } %>
    </div>
</div>